.head {
    text-align: center;
    padding: 32px;
    font-size: 26px;
    line-height: 1.6;
    color: #333;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    border-radius: 10px;
    transition: transform 0.3s ease;
    max-width: 85%;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  .head:hover {
    transform: scale(1.05);
  }
  